# Tests Authentification - 

CSRF: c6ec719adf3700882bf34a22d640212925678d3b4a93092df741709ada6c076d

Signin headers (first 40 lines):
HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked

HTTP/1.1 302 Found
vary: rsc, next-router-state-tree, next-router-prefetch, next-router-segment-prefetch
location: http://127.0.0.1:4001/api/auth/signin?csrf=true
Date: Mon, 20 Oct 2025 18:29:03 GMT
Connection: keep-alive
Keep-Alive: timeout=5
Transfer-Encoding: chunked


Session:
{}
